.bash_history
.bashrc
.npm/
.vagrant/
cm/roles
node_modules

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/db/schema.rb

/magazine/issues/*
!/magazine/issues/.keep
/magazine/papers/*
!/magazine/papers/.keep

/public/**/*
!/public/images
!/public/404.html
!/public/422.html
!/public/500.html
!/public/apple-touch-icon-precomposed.png
!/public/apple-touch-icon.png
!/public/favicon.ico
!/public/robots.txt
